.forgot-password-container {
  background: 
  linear-gradient(
    rgba(71, 186, 192, 0.85), 
    rgba(71, 186, 192, 0.85)
  ),
  url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column
}

.password-content-container {
  height: 95%;
  width: 95%;
  margin: 2.5% 0 0 2.5%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.forgot-password-container h1 {
  color: var(--white);
  font-weight: 700;
  font-size: 2.25em;
  margin-top: 3em;
  align-self: flex-start;
}

.forgot-password-label {
  align-self: flex-start;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  color: var(--white);
}

.password-content-container form {
  margin-top: 3.5em;
}

.forgotpassword-form-button {
  margin: 2em 0 4em 0;
  width: 100%;
  border: none;
  height: 2.5em;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  background-color: var(--grey);
  opacity: 0.88;
  font-weight: 700;
  font-size: 1.25em
}

#email2 {
  width: 99.95%;
  border: none;
  height: 2.25em;
  outline: none;
}

input[type="email"]
{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

input[type="password"]
{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

input[type="text"]
{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.forgot-password-container p {
  color: var(--white);
  font-weight: 400;
  font-size: 0.75em;
  align-self: center;
}

@media only screen and (min-width : 700px) {
  .forgot-password-container {
    align-items: center;
  }

  .password-content-container {
    width: 55%
  }
}