.profile-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center
}

.profile-contents { 
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--grey);
}

.profile-contents h1 {
  margin-top: 1em;
  font-weight: 400;
  font-size: 2.5em; 
}

.profile-contents p {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 0.5em
}
/* adjust Link width */
.profile-contents a {
  width: 100%;
}

.profile-data {
  height: 2em;
  border: 1px dashed var(--grey);
  width: 99.5%; 
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-edit-button {
  height: 3em;
  margin-top: 1.25em;
  background: var(--blue);
  border: none;
  color: var(--white);
  font-size: 1.25em;
  font-weight: 700;
  width: 99.5%;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profile-edit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.profile-password {
  font-size: 0.6em;
}

.profile-contents p {
  color: var(--grey)
}

@media only screen and (min-width : 700px) {
  .profile-contents {
    width: 55%
  }
}

