@import '../../App.css';


.forgot-password {
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 1.5em;
}

.form-label {
  align-self: flex-start;
  font-size: 1.5em;
}

.login-background {
  background: 
  linear-gradient(
    rgba(1, 99, 129, 0.85), 
    rgba(1, 99, 129, 0.85)
  ),
  /* background image of business woman smiling */
  url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content form {
  margin-top: 1.5em;
  width: 95%;
  height: 400px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-weight: 700;
}

.login-logo {
  height: 140px;
  width: 140px;
  margin-top: 0.75em;
  padding: 0;
}

.login-content {
  width: 95%;
  height: 95%;
  margin: 2.5% 0 0 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-button {
  background-color: #85be58;
  opacity: 0.88;
  color: white;
  font-weight: 700;
  border: none;
  height: 3em;
  margin-top: 1.25em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-form-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login-background p {
  color: white;
  font-weight: 400;
  font-size: 0.75em;
}

@media only screen and (min-width : 700px) {
  .login-logo {
    margin-top: 0.75em;
  }

  .login-background {
    flex-direction: column;
    align-items: center;

  }

  .login-content {
    width: 55%;
    height: 90%
  }

  .login-content p {
    margin: 0.125em;
  }

  .login-content form {
    margin-top: 0.75em
  }

  .forgot-password {
    margin-top: 1.5em;
  }

  .form-label {
    align-self: flex-start;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.125em
  }

}


@media only screen and (max-width : 400px) {
.login-logo {
  height: 110px;
  width: 110px;
}

.login-content form {
  margin-top: 0.5em;
  width: 95%;
  height: 350px;
}

input[type="email"]
{
  font-size: 0.75em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border: none
}

input[type="password"]
{
    font-size: 0.75em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border: none
}

#password {
  height: 3em;
  padding: 0 
}

#email {
  height: 0.5em;
  padding: 0
}

input[type="submit"]
{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.login-form-button {
  margin-top: 0.25em;
  height: 20px;

}

.forgot-password {
  margin-top: 3em;
}


}

@media only screen and (max-width : 330px) {

.login-content form {
  height: 270px
}

.login-logo {
  height: 110px;
  width: 110px;
}

}