.forgot-password-container {
  background: 
  linear-gradient(
    rgba(71, 186, 192, 0.85), 
    rgba(71, 186, 192, 0.85)
  ),
  /* bottom, image */
  url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.password-content-container {
  height: 90vh;
  width: 90vw;
  /* border: 1px solid black; */
  margin: 5vh 0 0 5vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.forgot-password-container h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.25em;
  margin-top: 15vh;
  align-self: flex-start;
}

.forgot-password-label {
  align-self: flex-start;
  margin-bottom: 0.25em;
  font-size: 1.5em;
}

form {
  margin-top: 15vh
}

.forgotpassword-form-button {
  margin-top: 2em;
  width: 100%;
  border: none;
  height: 2.5em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #3f3f3f;
  opacity: 0.88;
  font-weight: 700;
  font-size: 1.25em
}

#email2 {
  width: 99.5%;
  border: none;
  height: 3.5em;
}

.forgot-password-container p {
  color: #ffffff;
  font-weight: 400;
  margin-top: 7em;
  font-size: 0.75em
}