@import './index.css';
@import './components—Pages/LandingPageDashboard/LandingPageDashboard.css';
@import './components—Pages/Error/Error.css';
@import './components—Pages/Support/Support.css';
@import './components/Loading/Loading.css';
@import './components—Pages/Login/Login.css';
@import './components/Logo/Logo.css';
@import './components/Navbar/Navbar.css';
@import './components—Pages/Profile/Profile.css';
@import './components/Search/Search.css';

form #email, #password {
  border: none;
  height: 3em;
  margin-bottom: 0.5em;
}

.App {
  width: 100vw;
  height: 100vh; 
}


input[type="email"]
{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

input[type="password"]
{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

:root {
  /*  MI Academy brand colours  */
  --blue: #016381;
  --lightblue: #47bac0;
  --orange: #e15a4e;
  --purple: #932669;
  --green: #85be58;
  --grey: #3f3f3f;
  --white: #ffffff;
}


/* Remove the react LINK underlines */

a {
  text-decoration: none;
}



