@import './index.css';
@import './components—Pages/LandingPageDashboard/LandingPageDashboard.css';
@import './components—Pages/Error/Error.css';
@import './components—Pages/Support/Support.css';
@import './components/Loading/Loading.css';
@import './components—Pages/Login/Login.css';
@import './components/Logo/Logo.css';
@import './components/Navbar/Navbar.css';
@import './components—Pages/Profile/Profile.css';
@import './components/Search/Search.css';

.App {
  text-align: center;
  /* background-color: aqua;
  width: 100vw;
  height: 100vh; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  /*  MI Academy brand colours  */
  --blue: #016381;
  --lightblue: #47bac0;
  --orange: #e15a4e;
  --purple: #932669;
  --green: #85be58;
  --grey: #3f3f3f;
  --white: #ffffff;
}

/* Desktops and laptops */
/* @media only screen and (min-width : 1224px) {
 .login-background {
   display: none;
 }
} */

