.mobile-landingPage-container { 
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
   
.mobile-landingPage-contents { 
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
  
.mobile-welcome-box {
  width: 100%;
  height: 7.25em;
  background: 
  linear-gradient(
       rgba(63, 63, 63, 0.9), 
       rgba(63, 63, 63, 0.9)
    ),
    url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mobile-welcome-box p {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--white);
  margin: 0 0 0 0.5em;
}
   
.mobile-program-link { 
  width: 100%;
  height: 7.25em;
  background: 
  linear-gradient(
   rgba(63, 63, 63, 0.95), 
       rgba(63, 63, 63, 0.95)
     ),
    url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.mobile-landingPage-data {
  color: var(--white);
  margin: 0.25em 0 0 1.75em;
  font-size: 0.75em;
}

   
.mobile-program-link p {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--white);
  margin: 0;
}

.mobile-profile-link {
  width: 100%;
  height: 7.25em;
  background: 
  linear-gradient(
    rgba(63, 63, 63, 0.95), 
    rgba(63, 63, 63, 0.95)
  ),
  url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.mobile-profile-link p { 
  font-size: 2.5em;
  font-weight: 400;
  color: var(--white)
}

.mobile-support-link {
  width: 100%;
  height: 7.25em;
  background: 
  linear-gradient(
    rgba(63, 63, 63, 0.95), 
    rgba(63, 63, 63, 0.95)
  ),
  url(../../images/MI_Img_resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.mobile-support-link p {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--white);
  margin: 0
}

@media only screen and (min-width : 700px) {
  .mobile-landingPage-contents {
    width: 75%
  }

  .mobile-welcome-box p {
    margin-left: 1.25em;
  }

  .mobile-welcome-box small {
    margin-left: 4.5em;
  }
}

